.pages_container {
    justify-content: center;
    display: flex;
    padding: 0.5rem;
    user-select: none;
}

.page_item {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;

    background-color: var(--color-2);
    border-radius: 40%;
    color: var(--color-5);

    margin: 0.2rem;
    padding: 0.3rem 0.7rem;

    transition: all 0.3s ease;
}

.page_item:hover {
    background-color: var(--color-1);
}

.page_current {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;

    border-radius: 40%;
    background-color: var(--color-3);
    color: var(--color-5);

    margin: 0.2rem;
    padding: 0.3rem 0.7rem;

    transition: all 0.3s ease;
}

.page_current:hover {
    background-color: var(--color-4);
}