.sidebar_box {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4.5rem;
    left: 0;
    width: 3rem;
    height: 100%;
    background-color: #ffffff44;
}

.instrument_img {
    width: 3rem;
    height: 3rem;
}