html,
body,
#root,
.app {
    position: relative;
    height: 100%;

    /* box-sizing: border-box; */
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: rgb(71, 87, 67); */
    background-color: var(--color-4);
    width: 100vw;
    height: 100vh;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}