@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Reem+Kufi+Fun:wght@700&display=swap');

.modal_pr_t {
	z-index: 19;
	height: 100%;
	width: 100vw;
	background-color: rgba(6, 3, 20, 0.582);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
}

.modal_pr_t.active {
	z-index: 19;
	opacity: 1;
	pointer-events: all;
}

.modal_content_pr_t {
	margin-top: 150px;
	z-index: 19;
	padding: 20px;
	border-radius: 30px;
	background-color: white;
	width: 50%;

}