.auth_input {
	width: 12rem;
	height: 2.5rem;
	font-size: 1.4rem;
	background-color: #ffffff00;
	border: none;
	border-bottom: 0.25rem solid #ffffff44;
	transition: all 0.5s ease;
	color: rgba(255, 255, 255, 0.781);
	text-align: center;
	margin-bottom: 1rem;
}

.auth_input:focus {
	outline: none;
	border: none;
	border-bottom: 0.25rem solid #0c03338c;
}

.auth_input::selection {
	background-color: #36196db6;
}

.auth_input::placeholder {
	color: rgba(255, 255, 255, 0.39);
}

.auth_button {
	background-color: #ffffff6b;
	color: white;
	border: none;
	font-size: 1.4rem;
	height: 3rem;
	width: 100%;
	margin-top: 0.6rem;
	transition: all 0.3s ease;
	border-radius: 0.5rem;
	font-family: raleway_f, sans-serif;
}

.auth_button:hover {
	background-color: #ffffff34;
}

.auth_error {
	color: #ee4b4b;
}

.hidden {
	visibility: hidden;
	display: none;
}